{{#if resume.interests.length}}
  <div id="interests" class="row">
    <h2>Interests</h2>
    <div class="row columns">
      {{#each resume.interests}}
        <button class="hollow button secondary">
          {{#if name}}
            <span class="name">
              {{name}}
            </span>
          {{/if}}
          {{#if keywords.length}}
            <ul class="csv keywords">
              {{#each keywords}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </button>
      {{/each}}
    </div>
  </div>
{{/if}}
