.avatar {
  border-radius: 50%;
}

a[href^="mailto:"]:before {
  content: "\1F4E7 ";
}

.website:before {
  content: "\1F517";
}

a[href^="tel:"]:before {
  content: "\1F4F1";
}

.important:before {
  content: "\27BE";
}

blockquote:before {
  content: "\275D";
}

blockquote:after {
  content: "\275E";
}

.summary {
  line-height: 1;
  margin     : $header-margin-bottom 0;
}

#education {
  .gpa .value {
    font-weight: 700;
  }

  h3.institution {
    font-size  : 24px;
    font-size  : 1.5rem;
    line-height: 1;
  }
}

#info {
  .thumbnail {
    box-shadow : none;
    margin-left: 10px;
    @include breakpoint(medium) {
      margin-left: 4px;
    }
  }
  @include breakpoint(medium) {
    .media-object-section:nth-child(2) {
      padding-left: 10px;
      border-left : thick double #78Cf4d;
    }
  }
}

#interests .name {
  font-weight: 700;
}

#languages {
  .fluency {
    font-style: italic;
  }

  .language {
    font-weight    : 700;
    text-decoration: underline;
    margin-bottom  : $header-margin-bottom;
  }

  button {
    border-radius: 0.6rem;
  }
}

#location .postalCode {
  font-weight: 700;
}

#publications {
  page-break-before: always;

  .publisher {
    font-style: italic;
  }

  .releaseDate {
    font-weight: 700;
  }
}

#work {
  .summary {
    font-size: 1.25rem;
  }

  .position {
    font-weight: 700;
  }
}

#references cite {
  float: right;
}

a[href^="http:://twitter.com"]:before {
  direction   : rtl;
  unicode-bidi: bidi-override;
  content     : "\1F426";
}

.copywrite {
  font-size  : x-small;
  line-height: 0.8;
}

.dates {
  text-align: left;
  @include breakpoint(medium) {
    text-align: right;
  }
}
