@charset 'utf-8';
@import 'settings';
@import 'foundation';
// @import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid; // @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button; // @include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion; // @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout; // @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// // @include foundation-flex-classes;
//
// @include motion-ui-transitions;
// @include motion-ui-animations;
// @include callout-cards;

.icon-button {
    border-radius: 3.6rem;
    width        : 3.6rem;
    height       : 3.6rem;
    margin       : 0 5px;
    position     : relative;
    display      : inline-block;
    text-align   : center;
    font-size    : 2rem;

    span {
        display      : block;
        border-radius: 0;
        width        : 0;
        height       : 0;
        position     : absolute;
        left         : 50%;
        top          : 50%;
        transition   : all 0.3s;
    }

    &:hover span {
        display      : block;
        border-radius: 3.6rem;
        width        : 3.6rem;
        height       : 3.6rem;
        margin       : -1.8rem;
    }

    i {
        background : none;
        height     : 3.6rem;
        width      : 3.6rem;
        position   : absolute;
        left       : 0;
        top        : 0;
        z-index    : 10;
        line-height: 3.6rem;
        transition : all 0.3s;
    }
}

.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.github span {
    background-color: #4183C4;
}

.google-plus span {
    background-color: #db5a3c;
}

.linkedin span {
    background-color: #007bb6;
}

.icon-button .fi-social-twitter {
    color: #4099ff;
}

.icon-button .fi-social-facebook {
    color: #3b5998;
}

.icon-button .fi-social-github {
    color: #4183C4;
}

.icon-button .fi-social-google-plus {
    color: #db5a3c;
}

.icon-button .fi-social-linkedin {
    color: #007bb6;
}

.icon-button:hover .fi-social-facebook,
.icon-button:hover .fi-social-github,
.icon-button:hover .fi-social-google-plus,
.icon-button:hover .fi-social-linkedin,
.icon-button:hover .fi-social-twitter {
    color      : white;
    font-size  : 2.6rem;
    line-height: 3.9rem;
}
@import "custom";
@import "buttons-social";
@import "components/callout-cards";

body {
    font-family: 'Titillium Web', 'Open Sans', sans-serif;
}
// @import "events";
